* {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.judul {
    color: red;
}

.gambar {
    width: 200px;
    border-radius: 10px;
}

.deskripsi {
    font-size: 20px;
}

.panel {
    color: gray;
    background-color: rgb(240, 251, 255);
    padding: 20px;
    border-radius: 20px;
}

.tabel-biodata {
    border-color: rgb(128, 128, 128);
    border-collapse: collapse;   
}

td {
    padding: 5px;
}

h2 {
    color: rgb(43, 226, 101);
}

ol {
    list-style: upper-roman;
    text-align: left;
}

a {
    color: rgb(43, 226, 144);
    text-decoration: none;
}

a::before {
    content: " - ";
}

a::after {
    content: " - ";
}

a:hover {
    color: rgb(255, 153, 0);
    font-size: 20px;
    transition-duration: 1s;
}